@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/100.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/200.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/300.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/500.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/600.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/700.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/800.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/syncthing/github/stacksaustralia.github.io/fonts/JetBrains Mono/800italic.ttf') format('truetype');
}
