@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/mywrd/OneDrive/Documents/GitHub/stacksaustralia.github.io/fonts/Roboto Slab/regular.ttf') format('truetype');
}
